@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}


/*
.bg img{
    height: 100vh;
    width: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
*/
body{
    background-image: url(image/bg.jpg);
    background-size: 100% 100vh;
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
}

/*
.header img{
    height: 70px;
    width: 150px;
    padding: 10px 0px 0px 25px;
}  */
.header .logo a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    /*color: #1C97CA;*/
    background: linear-gradient(11deg, rgb(246, 134, 50) 46%, rgb(0, 168, 89) 70%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: linear-gradient(90deg, rgba(246,134,50,1) 29%, rgba(0,168,89,1) 80%);
    font-size: 30px;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    float: left;
    line-height: 80px;
    padding-left: 25px;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom-style: solid;
    border-bottom-color: #779746;
    border-bottom-width: 2.5px;
    padding-bottom: 6px;
}
#lotitile {
    line-height: 80px;
    padding-top: 8px;
    float: left;
    margin-left: 10px;
}


/*-----------continer---------------*/

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 0px 60px 0px;
    width: 100%;
    gap: 40px;
}

.card{
    background: transparent;
    width: 220px;
    margin: 10px;
    border-radius: 15px;
    object-fit: contain;
}

.card-image {
    height: 220px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card a{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    padding: 15px 0px 0 0;
    display: block;
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-size: 30px;
    text-decoration: none;
    font-style: bold;
}  

.clg-1{
    background-image: url(clg-logo/SNSCE.png);
}

.clg-2{
    background-image: url(clg-logo/snsct.png);
}

.clg-3{
    background-image: url(clg-logo/DRSNSRCAS.png);
}

.clg-4{
    background-image: url(clg-logo/DRSNSCE.png);
}

.clg-5{
    background-image: url(clg-logo/bschool.png);
}

.clg-6{
    background-image: url(clg-logo/SNSPHS.png);
}

.clg-7{
    background-image: url(clg-logo/SNSAHS.png);
}

.clg-8{
    background-image: url(clg-logo/SNSCN.png);
}

.clg-9{
    background-image: url(clg-logo/SNSCP.png);
}

.clg-10{
    background-image: url(clg-logo/SNS\ Academy.png);
}























































/*-------------------Footer--------------------------*/
footer{
    background-color: #111;
}
.footercontainer{
    width: 100%;
    padding: 30px 0px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
    gap: 22px;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: WHITE;
    margin:10px;
    border-radius: 50%;

}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}
.socialIcons a:hover{
    background:#111;
   /* transition: 0.5s; */
}
.socialIcons a:hover i{
    background:#fff;
    /*transition: 0.5s; */
    color: #111;
}
.footerBottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;
}
.designer{
    opacity: 0.7s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/*---------------------------------------------------*/